body {
  font-family: sans-serif;
  margin: 0;
  background: #fff;
  color: #111;
  scroll-behavior: smooth;
}

header {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.project {
  margin-bottom: 4rem;
}

.project img {
  max-width: 100%;
  margin-top: 1rem;
}

iframe {
  width: 100%;
  margin-top: 1rem;
  min-height: 300px;
}
